@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.39px;
}
body, html {
    height: 100%;
}

header {
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    align-content: space-between;
    
    padding: 25px 10% 0;
    justify-content: space-between;
}

.me-ame {
    background: #ffffff;
    text-decoration: none;
    color: #79a8d4;
    font-size: 16px;
    font-weight: 900;
    border-radius: 8px;
    padding: 8px 10px;
    margin-left: 5px;
}

.me-ame2 {
    color: #ffffff;
    text-decoration: none;
    border-radius: 12px;
    border: 2px solid #ffffff;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 1.11px;
    padding: 5px 15%;
    margin-top: 15px;
}

#section1 {
    background: #3023ae;
    background: linear-gradient(rgb(109,170,215, .8) 0%, rgb(48,35,174, .8) 100%), url('./../images/header.png') no-repeat top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

#section1 .item {
    margin: 0 10%;
    max-width: 505px;
}

h1.title {
    font-size: 80px;
    font-weight: 900;
    color: #ffffff;
}

h2.subtitle {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    padding-bottom: 30px;
}

#section2 {
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#section2 .item {
    flex: 1 0 50%;
}

#section2 .item2 {
    flex: 1 0 45%;
    text-align: right;
}

#section2 .item2 img {
    width: 100%;
    max-width: 500px;
}

#section2 .item3 {
    box-sizing: border-box;
    flex: 1 0 45%;
    text-align: left;
}

#section2 .item3 img{
    width: 100%;
    max-width: 500px;
}

#section2 .item3 .border-img {
    position: relative;
    max-width: 460px;
}

#section2 .item3 .border-img:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 12px);
    height: calc(100% - 10px);
    border: 8px solid #463eaa;
}    


h3 {
    font-size: 24px;
    font-weight: 900;
    opacity: 0.5;
    color: #d0021b;
}

h4 {
    font-size: 38px;
    font-weight: 900;
    line-height: 44px;
    color: #463eaa;
    padding-bottom: 40px;
}

span.description {
    color: #605f5f;
    letter-spacing: 0.4px;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

.bg-psycho {
    background: #f4f4f4;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background: #FFF;
    mask-size: 30px;
    -webkit-mask-size: 30px;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center center;
    -webkit-mask-position: center center;
    transition: background-color 0.5s ease;
}

.icon:hover {
    background: #3023ae;
}

.facebook {
    mask-image: url(./../images/facebook.svg);
    -webkit-mask-image: url(./../images/facebook.svg);
}

.instagram {
    mask-image: url(./../images/instagram.svg);
    -webkit-mask-image: url(./../images/instagram.svg);
}

footer {
    padding: 5% 10%;
    background-image: linear-gradient(135deg, #3023ae 0%, #c86dd7 100%);
    text-align: center;
}

footer h3 {
    color: #ffffff;
    font-size: 42px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 1.82px;
    padding: 10px 0;
    opacity: 1;
    max-width: 600px;
    margin: 0 auto;
}

footer img {
    width: 100%;
}

footer .description {
    opacity: 0.66;
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1.82px;
    max-width: 600px;
    margin: 10px auto;
}

input, textarea {
    border-radius: 10px;
    background-color: #5228a963;
    font-size: 26px;
    font-weight: 900;
    color: #4523a4;
    letter-spacing: 1px;
    padding: 14px 0;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}
textarea {
    padding: 10px;
    resize: none;
}
input {
    padding-left: 40px
}

.form-group {
    position: relative;
}

.input-icon {
    position: absolute;
    color: #4523a4;
    font-size: 26px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

#me-ame {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.col {
    flex: 0 0 49%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #4523a4;
}
::-moz-placeholder { /* Firefox 19+ */
color: #4523a4;
}
:-ms-input-placeholder { /* IE 10+ */
color: #4523a4;
}
:-moz-placeholder { /* Firefox 18- */
color: #4523a4;
}
button {
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: none;
    color: #fff;
    font-size: 26px;
    padding: 10px 40px;
    width: 100%;
}
button:hover {
    cursor: pointer;
}
.p25 {
    padding-left: 25px;
}
@media (max-height: 420px ) {
    #section1 {
        padding-top: 65px;
    }
}
@media (max-width: 768px) {
    
    .p25 {
        padding-left: 0px;
    }

    .col {
        margin: 0;
        flex: 0 0 100%;
    }

    h1.title {
        font-size: 55px;
    }
    h2.subtitle {
        font-size: 18px;
    }

    #section2{
        padding: 10%;
    }

    #section2 .item {
        flex: 1 0 100%;
        padding-bottom: 30px;
    }

    #section2 .item2 {
        flex: 1 0 100%;
        text-align: center;
    }

    #section2 .item2 img {
        max-width: 420px;
    }    

    #section2 .item3 {
        flex: 1 0 45%;
        text-align: center;
        order: 2;
    }

    #section2 .item3 img {
        max-width: 420px;
    }    

    #section2 .item3 .border-img {
        max-width: 420px;
    }

    footer {
        padding: 10%;
    }

    footer h3 {
        font-size: 28px;
        line-height: normal;
    }

    footer .description {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: normal;
    }

    .input-icon, input, button { 
        font-size: 22px;
    }
    
}
